# типы файлов, которые будут проигнорированы, при отправке на Git
# from https://github.com/selenide/selenide/blob/master/.gitignore

../HW_15_Allure1/build
!.idea
.idea/*
!/.idea/icon.svg
out
*.ipr
*.iws
*.iml
.gradle
.project
.classpath
chromedriver.log
.settings
integration/ScreenshotTest/canTakeScreenshotOfElement/
classes